workflow.json
{
  "nodes": [
    {
      "parameters": {
        "owner": {
          "__rl": true,
          "value": "Jardineo-EIP-EpitechNIce",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "https://github.com/Jardineo-EIP-EpitechNIce/JARDINEO_",
          "mode": "url"
        },
        "events": [
          "release"
        ],
        "options": {}
      },
      "id": "77d3ec83-3a31-409f-9ce2-e6f9a93791df",
      "name": "GitHub Release Trigger",
      "type": "n8n-nodes-base.githubTrigger",
      "typeVersion": 1,
      "position": [
        -4320,
        -1856
      ],
      "webhookId": "jardineo-release-sync",
      "credentials": {
        "githubApi": {
          "id": "hzcN0gQ2n6A80jln",
          "name": "Jardineo"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.action }}",
              "value2": "=created"
            },
            {
              "value1": "={{ $json.body.release.prerelease }}",
              "operation": "notEqual",
              "value2": "true"
            }
          ]
        }
      },
      "id": "717f5982-1c23-48b1-a24b-4982288cc868",
      "name": "Filtrer releases stables uniquement",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -4096,
        -1856
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "version",
              "value": "={{ $json.body.release.tag_name }}",
              "type": "string",
              "id": "711125f9-8d9d-4675-93c7-d754ba6f005c"
            },
            {
              "name": "version_number",
              "value": "={{ $json.body.release.tag_name.replace('v', '') }}",
              "type": "string",
              "id": "2003f99b-cccf-4529-b58e-94893aa2717c"
            },
            {
              "name": "apk_url",
              "value": "=https://github.com/Jardineo-EIP-EpitechNIce/JARDINEO_/releases/download/{{ $json.body.release.tag_name }}/app-release.apk",
              "type": "string",
              "id": "564a832f-ae2d-4076-9104-4c9107dd1a25"
            },
            {
              "name": "release_notes",
              "value": "={{ $json.body.release.body }}",
              "type": "string",
              "id": "90f8d0b6-9976-45d2-ad27-df14c6776744"
            },
            {
              "name": "server_web_dir",
              "value": "/home/rateur42/jardineo/Jardineo_Prod/WEB",
              "type": "string",
              "id": "ac12433d-96f9-42ec-8025-b3e32f13274e"
            },
            {
              "name": "server_apk_dir",
              "value": "/home/rateur42/jardineo/Jardineo_Prod/WEB/public/apk",
              "type": "string",
              "id": "afcfa32c-8d95-4699-bbc7-e76a8105fabd"
            }
          ]
        },
        "options": {}
      },
      "id": "93d31e7c-7edc-45dc-924d-81d51c6e304f",
      "name": "Extraire données release",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3888,
        -1856
      ]
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "=#!/bin/bash\nset -euo pipefail\n\nWEB_DIR=\"{{ $json.server_web_dir }}\"\n\necho \"🔄 Pull du repo WEB pour récupérer latest.json...\"\n\ncd \"$WEB_DIR\"\ngit fetch origin\ngit pull origin main\n\necho \"✅ Repo WEB mis à jour\"\necho \"📋 latest.json actuel:\"\n\nif [ -f \"public/apk/latest.json\" ]; then\n  cat public/apk/latest.json\nelse\n  echo \"⚠️ public/apk/latest.json introuvable\"\nfi",
        "cwd": "={{ $json.server_web_dir }}"
      },
      "id": "f3d95067-6aae-49b8-9413-320f944e7c8d",
      "name": "📥 Git Pull WEB",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        -3664,
        -1856
      ],
      "credentials": {
        "sshPrivateKey": {
          "id": "5sD2r7LvTodDqdSg",
          "name": "SSH Portainer"
        }
      }
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "=#!/bin/bash\nset -euo pipefail\n\nAPK_URL=\"{{ $('Extraire données release').item.json.apk_url }}\"\nVERSION=\"{{ $('Extraire données release').item.json.version_number }}\"\nAPK_DIR=\"{{ $('Extraire données release').item.json.server_apk_dir }}\"\n\necho \"📥 Téléchargement de l'APK depuis GitHub Releases...\"\necho \"   URL: $APK_URL\"\necho \"   Destination: $APK_DIR/${VERSION}.apk\"\necho \"\"\n\nmkdir -p \"$APK_DIR\"\n\n# Télécharger l'APK avec curl\ncurl -L \"$APK_URL\" \\\n  -o \"$APK_DIR/${VERSION}.apk\" \\\n  --progress-bar \\\n  -H \"Accept: application/octet-stream\"\n\nif [ $? -eq 0 ]; then\n  APK_SIZE=$(du -h \"$APK_DIR/${VERSION}.apk\" | cut -f1)\n  echo \"\"\n  echo \"✅ APK téléchargé avec succès!\"\n  echo \"📦 Taille: $APK_SIZE\"\n  echo \"📍 Fichier: $APK_DIR/${VERSION}.apk\"\n\n  # Vérifier que latest.json existe (sans jq)\n  if [ -f \"$APK_DIR/latest.json\" ]; then\n    echo \"✅ latest.json trouvé :\"\n    cat \"$APK_DIR/latest.json\"\n  else\n    echo \"⚠️ latest.json introuvable (sera créé par GitHub Actions)\"\n  fi\nelse\n  echo \"❌ Échec du téléchargement de l'APK\"\n  exit 1\nfi",
        "cwd": "={{ $('Extraire données release').item.json.server_web_dir }}"
      },
      "id": "29afe3aa-b8a0-4bca-8521-c52769e29783",
      "name": "📦 Télécharger APK sur serveur",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        -3440,
        -1856
      ],
      "credentials": {
        "sshPrivateKey": {
          "id": "5sD2r7LvTodDqdSg",
          "name": "SSH Portainer"
        }
      }
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "=#!/bin/bash\nset -euo pipefail\n\nWEB_DIR=\"{{ $('Extraire données release').item.json.server_web_dir }}\"\nVERSION=\"{{ $('Extraire données release').item.json.version }}\"\n\necho \"🔄 Rechargement du serveur Web...\"\n\ncd \"$WEB_DIR\"\n\nif [ -f \"docker-compose.yml\" ]; then\n  echo \"🐳 Redémarrage du container Docker...\"\n  docker compose restart jardineo-web\n\n  echo \"⏳ Attente du démarrage...\"\n  sleep 5\n\n  # Récupérer le healthcheck sans --format\n  HEALTH=$(docker inspect jardineo-web 2>/dev/null \\\n    | grep '\"Status\"' \\\n    | head -n 1 \\\n    | sed 's/.*\"Status\": \"\\(.*\\)\".*/\\1/')\n\n  HEALTH=${HEALTH:-unknown}\n  echo \"🏥 Healthcheck: $HEALTH\"\n\n  if [ \"$HEALTH\" = \"healthy\" ] || [ \"$HEALTH\" = \"unknown\" ]; then\n    echo \"✅ Serveur web redémarré avec succès!\"\n  else\n    echo \"⚠️ Le container a redémarré mais le healthcheck n'est pas encore OK\"\n  fi\nelse\n  echo \"⚠️ docker-compose.yml introuvable, pas de redémarrage possible\"\nfi\n\necho \"\"\necho \"🎉 Synchronisation Web terminée pour $VERSION!\"\necho \"📍 Portail: http://192.168.1.127:3000\"\n",
        "cwd": "={{ $('Extraire données release').item.json.server_web_dir }}"
      },
      "id": "e97fc6dd-a587-47e6-858d-8250cf85c715",
      "name": "🔄 Redémarrer serveur Web",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        -3216,
        -1856
      ],
      "credentials": {
        "sshPrivateKey": {
          "id": "5sD2r7LvTodDqdSg",
          "name": "SSH Portainer"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "status",
              "value": "✅ SUCCESS",
              "type": "string"
            },
            {
              "name": "version",
              "value": "={{ $json.version }}",
              "type": "string"
            },
            {
              "name": "message",
              "value": "Web portal updated with version {{ $json.version }}",
              "type": "string"
            },
            {
              "name": "timestamp",
              "value": "={{ $now }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "85494316-25c9-44d3-a113-e43c074c4411",
      "name": "✅ Succès",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3008,
        -1856
      ]
    }
  ],
  "connections": {
    "GitHub Release Trigger": {
      "main": [
        [
          {
            "node": "Filtrer releases stables uniquement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrer releases stables uniquement": {
      "main": [
        [
          {
            "node": "Extraire données release",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraire données release": {
      "main": [
        [
          {
            "node": "📥 Git Pull WEB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📥 Git Pull WEB": {
      "main": [
        [
          {
            "node": "📦 Télécharger APK sur serveur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📦 Télécharger APK sur serveur": {
      "main": [
        [
          {
            "node": "🔄 Redémarrer serveur Web",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔄 Redémarrer serveur Web": {
      "main": [
        [
          {
            "node": "✅ Succès",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "GitHub Release Trigger": [
      {
        "body": {
          "action": "created",
          "release": {
            "url": "https://api.github.com/repos/Jardineo-EIP-EpitechNIce/JARDINEO_/releases/279328134",
            "assets_url": "https://api.github.com/repos/Jardineo-EIP-EpitechNIce/JARDINEO_/releases/279328134/assets",
            "upload_url": "https://uploads.github.com/repos/Jardineo-EIP-EpitechNIce/JARDINEO_/releases/279328134/assets{?name,label}",
            "html_url": "https://github.com/Jardineo-EIP-EpitechNIce/JARDINEO_/releases/tag/untagged-9e18defac9da905212db",
            "id": 279328134,
            "author": {
              "login": "FrcJules",
              "id": 114910682,
              "node_id": "U_kgDOBtll2g",
              "avatar_url": "https://avatars.githubusercontent.com/u/114910682?v=4",
              "gravatar_id": "",
              "url": "https://api.github.com/users/FrcJules",
              "html_url": "https://github.com/FrcJules",
              "followers_url": "https://api.github.com/users/FrcJules/followers",
              "following_url": "https://api.github.com/users/FrcJules/following{/other_user}",
              "gists_url": "https://api.github.com/users/FrcJules/gists{/gist_id}",
              "starred_url": "https://api.github.com/users/FrcJules/starred{/owner}{/repo}",
              "subscriptions_url": "https://api.github.com/users/FrcJules/subscriptions",
              "organizations_url": "https://api.github.com/users/FrcJules/orgs",
              "repos_url": "https://api.github.com/users/FrcJules/repos",
              "events_url": "https://api.github.com/users/FrcJules/events{/privacy}",
              "received_events_url": "https://api.github.com/users/FrcJules/received_events",
              "type": "User",
              "user_view_type": "public",
              "site_admin": false
            },
            "node_id": "RE_kwDOPyEkes4QpjWG",
            "tag_name": "v0.0.1-test",
            "target_commitish": "main",
            "name": "Test Workflow n8n - v0.0.1-test",
            "draft": true,
            "immutable": false,
            "prerelease": false,
            "created_at": "2026-01-23T11:12:47Z",
            "updated_at": "2026-01-23T11:33:45Z",
            "published_at": null,
            "assets": [],
            "tarball_url": null,
            "zipball_url": null,
            "body": "# Test de synchronisation automatique\n\nCette release sert à tester le workflow n8n de synchronisation web.\n\n## Fonctionnalités testées\n- GitHub Trigger dans n8n\n- Filtrage des releases stables (devrait être skippé car -test)\n- Git pull du repo WEB\n- Téléchargement de l'APK\n- Redémarrage du container Docker\n\n**Note**: Cette release contient le suffixe `-test` donc elle sera ignorée par le workflow (pré-release)."
          },
          "repository": {
            "id": 1059136634,
            "node_id": "R_kgDOPyEkeg",
            "name": "JARDINEO_",
            "full_name": "Jardineo-EIP-EpitechNIce/JARDINEO_",
            "private": true,
            "owner": {
              "login": "Jardineo-EIP-EpitechNIce",
              "id": 202084350,
              "node_id": "O_kgDODAuP_g",
              "avatar_url": "https://avatars.githubusercontent.com/u/202084350?v=4",
              "gravatar_id": "",
              "url": "https://api.github.com/users/Jardineo-EIP-EpitechNIce",
              "html_url": "https://github.com/Jardineo-EIP-EpitechNIce",
              "followers_url": "https://api.github.com/users/Jardineo-EIP-EpitechNIce/followers",
              "following_url": "https://api.github.com/users/Jardineo-EIP-EpitechNIce/following{/other_user}",
              "gists_url": "https://api.github.com/users/Jardineo-EIP-EpitechNIce/gists{/gist_id}",
              "starred_url": "https://api.github.com/users/Jardineo-EIP-EpitechNIce/starred{/owner}{/repo}",
              "subscriptions_url": "https://api.github.com/users/Jardineo-EIP-EpitechNIce/subscriptions",
              "organizations_url": "https://api.github.com/users/Jardineo-EIP-EpitechNIce/orgs",
              "repos_url": "https://api.github.com/users/Jardineo-EIP-EpitechNIce/repos",
              "events_url": "https://api.github.com/users/Jardineo-EIP-EpitechNIce/events{/privacy}",
              "received_events_url": "https://api.github.com/users/Jardineo-EIP-EpitechNIce/received_events",
              "type": "Organization",
              "user_view_type": "public",
              "site_admin": false
            },
            "html_url": "https://github.com/Jardineo-EIP-EpitechNIce/JARDINEO_",
            "description": null,
            "fork": true,
            "url": "https://api.github.com/repos/Jardineo-EIP-EpitechNIce/JARDINEO_",
            "forks_url": "https://api.github.com/repos/Jardineo-EIP-EpitechNIce/JARDINEO_/forks",
            "keys_url": "https://api.github.com/repos/Jardineo-EIP-EpitechNIce/JARDINEO_/keys{/key_id}",
            "collaborators_url": "https://api.github.com/repos/Jardineo-EIP-EpitechNIce/JARDINEO_/collaborators{/collaborator}",
            "teams_url": "https://api.github.com/repos/Jardineo-EIP-EpitechNIce/JARDINEO_/teams",
            "hooks_url": "https://api.github.com/repos/Jardineo-EIP-EpitechNIce/JARDINEO_/hooks",
            "issue_events_url": "https://api.github.com/repos/Jardineo-EIP-EpitechNIce/JARDINEO_/issues/events{/number}",
            "events_url": "https://api.github.com/repos/Jardineo-EIP-EpitechNIce/JARDINEO_/events",
            "assignees_url": "https://api.github.com/repos/Jardineo-EIP-EpitechNIce/JARDINEO_/assignees{/user}",
            "branches_url": "https://api.github.com/repos/Jardineo-EIP-EpitechNIce/JARDINEO_/branches{/branch}",
            "tags_url": "https://api.github.com/repos/Jardineo-EIP-EpitechNIce/JARDINEO_/tags",
            "blobs_url": "https://api.github.com/repos/Jardineo-EIP-EpitechNIce/JARDINEO_/git/blobs{/sha}",
            "git_tags_url": "https://api.github.com/repos/Jardineo-EIP-EpitechNIce/JARDINEO_/git/tags{/sha}",
            "git_refs_url": "https://api.github.com/repos/Jardineo-EIP-EpitechNIce/JARDINEO_/git/refs{/sha}",
            "trees_url": "https://api.github.com/repos/Jardineo-EIP-EpitechNIce/JARDINEO_/git/trees{/sha}",
            "statuses_url": "https://api.github.com/repos/Jardineo-EIP-EpitechNIce/JARDINEO_/statuses/{sha}",
            "languages_url": "https://api.github.com/repos/Jardineo-EIP-EpitechNIce/JARDINEO_/languages",
            "stargazers_url": "https://api.github.com/repos/Jardineo-EIP-EpitechNIce/JARDINEO_/stargazers",
            "contributors_url": "https://api.github.com/repos/Jardineo-EIP-EpitechNIce/JARDINEO_/contributors",
            "subscribers_url": "https://api.github.com/repos/Jardineo-EIP-EpitechNIce/JARDINEO_/subscribers",
            "subscription_url": "https://api.github.com/repos/Jardineo-EIP-EpitechNIce/JARDINEO_/subscription",
            "commits_url": "https://api.github.com/repos/Jardineo-EIP-EpitechNIce/JARDINEO_/commits{/sha}",
            "git_commits_url": "https://api.github.com/repos/Jardineo-EIP-EpitechNIce/JARDINEO_/git/commits{/sha}",
            "comments_url": "https://api.github.com/repos/Jardineo-EIP-EpitechNIce/JARDINEO_/comments{/number}",
            "issue_comment_url": "https://api.github.com/repos/Jardineo-EIP-EpitechNIce/JARDINEO_/issues/comments{/number}",
            "contents_url": "https://api.github.com/repos/Jardineo-EIP-EpitechNIce/JARDINEO_/contents/{+path}",
            "compare_url": "https://api.github.com/repos/Jardineo-EIP-EpitechNIce/JARDINEO_/compare/{base}...{head}",
            "merges_url": "https://api.github.com/repos/Jardineo-EIP-EpitechNIce/JARDINEO_/merges",
            "archive_url": "https://api.github.com/repos/Jardineo-EIP-EpitechNIce/JARDINEO_/{archive_format}{/ref}",
            "downloads_url": "https://api.github.com/repos/Jardineo-EIP-EpitechNIce/JARDINEO_/downloads",
            "issues_url": "https://api.github.com/repos/Jardineo-EIP-EpitechNIce/JARDINEO_/issues{/number}",
            "pulls_url": "https://api.github.com/repos/Jardineo-EIP-EpitechNIce/JARDINEO_/pulls{/number}",
            "milestones_url": "https://api.github.com/repos/Jardineo-EIP-EpitechNIce/JARDINEO_/milestones{/number}",
            "notifications_url": "https://api.github.com/repos/Jardineo-EIP-EpitechNIce/JARDINEO_/notifications{?since,all,participating}",
            "labels_url": "https://api.github.com/repos/Jardineo-EIP-EpitechNIce/JARDINEO_/labels{/name}",
            "releases_url": "https://api.github.com/repos/Jardineo-EIP-EpitechNIce/JARDINEO_/releases{/id}",
            "deployments_url": "https://api.github.com/repos/Jardineo-EIP-EpitechNIce/JARDINEO_/deployments",
            "created_at": "2025-09-18T03:45:15Z",
            "updated_at": "2026-01-23T11:12:52Z",
            "pushed_at": "2026-01-23T11:30:24Z",
            "git_url": "git://github.com/Jardineo-EIP-EpitechNIce/JARDINEO_.git",
            "ssh_url": "git@github.com:Jardineo-EIP-EpitechNIce/JARDINEO_.git",
            "clone_url": "https://github.com/Jardineo-EIP-EpitechNIce/JARDINEO_.git",
            "svn_url": "https://github.com/Jardineo-EIP-EpitechNIce/JARDINEO_",
            "homepage": null,
            "size": 131890,
            "stargazers_count": 0,
            "watchers_count": 0,
            "language": null,
            "has_issues": false,
            "has_projects": true,
            "has_downloads": true,
            "has_wiki": true,
            "has_pages": false,
            "has_discussions": false,
            "forks_count": 0,
            "mirror_url": null,
            "archived": false,
            "disabled": false,
            "open_issues_count": 0,
            "license": null,
            "allow_forking": false,
            "is_template": false,
            "web_commit_signoff_required": false,
            "topics": [],
            "visibility": "private",
            "forks": 0,
            "open_issues": 0,
            "watchers": 0,
            "default_branch": "main",
            "custom_properties": {}
          },
          "organization": {
            "login": "Jardineo-EIP-EpitechNIce",
            "id": 202084350,
            "node_id": "O_kgDODAuP_g",
            "url": "https://api.github.com/orgs/Jardineo-EIP-EpitechNIce",
            "repos_url": "https://api.github.com/orgs/Jardineo-EIP-EpitechNIce/repos",
            "events_url": "https://api.github.com/orgs/Jardineo-EIP-EpitechNIce/events",
            "hooks_url": "https://api.github.com/orgs/Jardineo-EIP-EpitechNIce/hooks",
            "issues_url": "https://api.github.com/orgs/Jardineo-EIP-EpitechNIce/issues",
            "members_url": "https://api.github.com/orgs/Jardineo-EIP-EpitechNIce/members{/member}",
            "public_members_url": "https://api.github.com/orgs/Jardineo-EIP-EpitechNIce/public_members{/member}",
            "avatar_url": "https://avatars.githubusercontent.com/u/202084350?v=4",
            "description": ""
          },
          "sender": {
            "login": "FrcJules",
            "id": 114910682,
            "node_id": "U_kgDOBtll2g",
            "avatar_url": "https://avatars.githubusercontent.com/u/114910682?v=4",
            "gravatar_id": "",
            "url": "https://api.github.com/users/FrcJules",
            "html_url": "https://github.com/FrcJules",
            "followers_url": "https://api.github.com/users/FrcJules/followers",
            "following_url": "https://api.github.com/users/FrcJules/following{/other_user}",
            "gists_url": "https://api.github.com/users/FrcJules/gists{/gist_id}",
            "starred_url": "https://api.github.com/users/FrcJules/starred{/owner}{/repo}",
            "subscriptions_url": "https://api.github.com/users/FrcJules/subscriptions",
            "organizations_url": "https://api.github.com/users/FrcJules/orgs",
            "repos_url": "https://api.github.com/users/FrcJules/repos",
            "events_url": "https://api.github.com/users/FrcJules/events{/privacy}",
            "received_events_url": "https://api.github.com/users/FrcJules/received_events",
            "type": "User",
            "user_view_type": "public",
            "site_admin": false
          }
        },
        "headers": {
          "host": "n8n.jules-francois.fr",
          "user-agent": "GitHub-Hookshot/a3fe5b5",
          "content-length": "9639",
          "accept": "*/*",
          "content-type": "application/json",
          "x-forwarded-for": "140.82.115.58",
          "x-forwarded-host": "n8n.jules-francois.fr",
          "x-forwarded-port": "443",
          "x-forwarded-proto": "https",
          "x-forwarded-server": "d3a2e95786b1",
          "x-github-delivery": "60e52460-f84f-11f0-8f5e-8832a9224683",
          "x-github-event": "release",
          "x-github-hook-id": "593006322",
          "x-github-hook-installation-target-id": "1059136634",
          "x-github-hook-installation-target-type": "repository",
          "x-real-ip": "140.82.115.58",
          "accept-encoding": "gzip"
        },
        "query": {}
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6d96da13e0d94e79dc0f068d253910f168a3e9f666e2b3e4b731fee137278bf9"
  }
}